a {text-decoration: none; color: red;}
a:visited {color: white;}
a:hover {color: orange}
h1 {font-style:italic;color: white;}
.pair {
background-color:white;
}
.impair {
background-color:#FF5850;
}
#limite {
height:300px;
}
.skill {
font-style:italic;
color:red;
}
body {
background-color:#4c474f;
width:100%;
margin:auto;
line-height:150%;
}
p {
text-indent:12px;
}
td{text-align:center}
nav {width:75%;height:50px;margin:0 auto 0 auto;display:flex;flex-direction:row;}
nav > div {
	background-color:black;
	position:relative;
	align-items:stretch;
	display:flex;
	justify-content:center;
	border: #8A2BE2 solid 2px;
	border-right: none;
}
nav a {padding:0 10px 0 10px;}
nav>div:first-child a{border: none}
nav>div:last-child {border-right: #8A2BE2 solid 2px;}/*nouveau*/
.submenu{background-color:black;position:absolute;top:100%;display:none}
div:hover .submenu{display:block;}
nav div {width:100%;}
.puce {visibility:hidden;}
div:hover .puce{visibility:visible;}
.submenu {border: #8A2BE2 solid 2px}
table {margin-left: 10%;margin-right: 10%;}
.burger{display: none;}

cite:before {
	content: "« ";
}

cite:after {
	content: " »";
}

blockquote > h3 {
	font-style:italic;
	text-align:center;
	color: red;
	text-shadow: 3px 1px purple;
}

nav > div > a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header {display:flex;align-items:flex-end;background-color: #111111}
main {display:flex;height: 90vh;}

article {
	width:300px;
	background-color:grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	flex-shrink: 1;
	flex-grow: 1;
}

article > h1, article > div > h2, article > div > div > h3, article > div > div > div > h4, article > div > div > div > div > h5, article > div > div > div > div > div > h6 {
	text-align:center;
	border: groove 2px;
    width: 90%;
    border-bottom: none;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

article div {
	display: flex;
	flex-direction: column;
    align-items: center;
	border: groove 2px;
	width: 90%;
	padding-bottom: 3%;
}

aside {width:200px;background-color:#FFFFF999;flex-shrink: 2;flex-grow: 3;}

/* animation */

nav > div:hover {
	animation-name: selected;
	animation-duration: 1s;
	width: 200%;
}

nav > div {
	animation-name: unselected;
	animation-duration: 1s;
	width: 100%;
}

@keyframes selected {
	from {width: 100%;}
	0% {background: linear-gradient(0.25turn, red, black, purple);}
	10% {background: linear-gradient(1turn,red, black, purple);}
	20% {background: linear-gradient(0.25turn, purple, black, red);}
	30% {background: linear-gradient(1turn,purple, black, red);}
	40% {background: linear-gradient(0.25turn, red, black, purple);}
	50% {background: linear-gradient(1turn,red, black, purple);}
	60% {background: linear-gradient(0.25turn, purple, black, red);}
	70% {background: linear-gradient(1turn,purple, black, red);}
	80% {background: linear-gradient(0.25turn, red, black, purple);}
	90% {background: linear-gradient(1turn,red, black, purple);}
	100% {background: linear-gradient(0.25turn, purple, black, red);}
	to {width: 200%;}
}

@keyframes unselected {
	from {width: 200%;}
	to {width: 100%;}
}

@media(max-width:768px) {/*tablette*/
	table{display: table-column;
}

@media(max-width:480px) {/*phone*/
	main{flex-direction: column;}
	article {width: 100%;}
	aside {width: 100%;}
	nav{display: none;}
	.burger{display: flex;flex-direction: column;position:fixed;top:10px;right:10px;}
	#menu2{display:none;}
	.burger:hover > #menu2 {display: flex;flex-direction: column;}
	.burger:hover {height:100vh;width:80vw;background-color: black;}
}

@media(max-width:168px) {/*smart watch*/
	header{display:none;}
	main{height: 100vh;}
	article{display:none;}
	footer{display:none;}
	h2{display:none;}
	ul{display:none;}
}